:root {
    --dark: #31343d;
    --teal: #91cbcc;
    --blue: #445876;
    --lightblue: #a3b7cc;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Header Section */
header {
    padding: 1.005vw 0px 1.005vw 0px;
    background: var(--dark);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 2.5em;
    padding: .25vw 1vw .25vw 5vw;
    color: var(--dark);
    background-color: var(--teal);
    border: 1px solid var(--teal);
    border-radius: 0px 30px 30px 0px;
}

nav {
    margin-right: 2vw;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    font-size: 1.15em;
    font-weight: 800;
    color: white;
    position: relative;
    top: 1vw;
}

nav ul li a:visited {
    color: white;
    line-height: 1.5em;
}

nav ul li a:hover {
    color: var(--teal);
    line-height: 1.5em;
}

/* This selector styles all the section elements */
section {
    margin-top: 1vw;
    margin-bottom: 2vw;
}

/* About Section */
#about {
    display: flex;
    justify-content: space-between;
}

h2 {
    min-width: 230px;
    font-size: 2.5em;
    text-align: right;
    padding: 2vw;
    color: var(--blue);
    border-right: 5px solid var(--blue);
    border-radius: 30px;
}

#about img {
    margin: auto 2vw;
    height: fit-content;
    min-width: 250px;
    max-width: 350px;
    border-radius: 30px;
}

#abouttext {
    padding: 3vw;
    margin-right: 1vw;
    background: var(--lightblue);
    border-radius: 30px;
}

#about p {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    color: var(--dark);
}

/* Portfolio Section */
.workimage {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

#portfolio {
    display: flex;
}

.workexamples {
    display: flex;
    flex-wrap: wrap;
    margin: 0vw 1vw 0vw 0vw;
}

.workexamples article {
    border: 12px solid var(--lightblue);
    background-color: var(--lightblue);
    border-radius: 30px;
    width: 47%;
    margin: 0vw 0vw 1vw 1vw;
    position: relative;   
}

.tag {
    background-color: var(--lightblue);
    position: absolute;
    bottom: 3vw;
    padding-left: 1vw;
    border: 5px solid var(--lightblue);
    border-radius: 0px 30px 30px 0px;
}

h3 {
    color: var(--dark);
    font-size: 2em;
    font-weight: 800;
    padding: 1vw 1vw 1vw 0vw;
}

h4 {
    color: var(--blue);
    font-size: 1em;
    font-weight: 800;
    padding-bottom: 1vh;
}

#refactor {
    width: 100%;
}

/* Contact Section */
#contact {
    display: flex;
    align-items: center;
}

#contact ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contact ul li {
    font-size: 1.15em;
    font-weight: 800;
    color: var(--blue);
}

#contact ul li a:visited {
    color: var(--blue);
}

#contact ul li a:hover {
    color: var(--teal);
}

/* Footer Section */
footer {
    background-color: var(--dark);
}

footer p {
    width: fit-content;
    padding: 2vw 0;
    margin: 0 auto;
    font-size: 1.15em;
    font-weight: 800;
    color: white;
}