:root {
    --dark: #31343d;
    --teal: #91cbcc;
    --blue: #445876;
    --lightblue: #a3b7cc;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Header Section */
header {
    padding: 1.005vw 0px 1.005vw 0px;
    background: var(--dark);
    display: flex;
    justify-content: space-between;
}

header h1 {
    font-size: 2.5em;
    padding: .25vw 1vw .25vw 5vw;
    color: var(--dark);
    background: linear-gradient(to right, var(--lightblue) 0%, var(--teal) 100%);
    border-radius: 0px 30px 30px 0px;
    width: fit-content;
}

nav {
    margin-right: 2vw;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 10px;
    position: relative;
    top: 1vw;
}

nav ul li a {
    font-size: 1.15em;
    font-weight: 800;
    color: white;
}

nav ul li a:visited {
    color: white;
}

nav ul li a:hover {
    color: var(--teal);
    position: relative;
    top: .5vh;
}

/* This selector styles all the section elements */
section {
    margin-top: 1vw;
    margin-bottom: 2vw;
}

/* About Section */
#about {
    display: flex;
    justify-content: space-between;
}

h2 {
    min-width: 230px;
    font-size: 2.5em;
    text-align: right;
    padding: 2vw;
    color: var(--blue);
    border-right: 5px solid var(--blue);
    border-radius: 30px;
}

#about img {
    margin: auto 2vw;
    height: fit-content;
    min-width: 250px;
    max-width: 350px;
    border-radius: 30px;
}

#abouttext {
    padding: 3vw;
    margin-right: 2.5vw;
    background: linear-gradient(to right, var(--lightblue) 0%, var(--teal) 100%);
    border-radius: 30px;
}

#about p {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2em;
    color: var(--dark);
}


/* Portfolio Section */
.workimage {
    max-width: 100%;
    height: auto;
    border-radius: 30px;
}

#portfolio {
    display: flex;
}

.workexamples {
    display: flex;
    flex-wrap: wrap;
    margin: 0vw 1vw 0vw 0vw;
}

.workexamples a {
    border: 12px solid var(--lightblue);
    background-color: var(--lightblue);
    border-radius: 30px;
    width: 48%;
    margin: 0vw 0vw 1vw 1vw;
    position: relative;
}

.tag {
    background-color: var(--lightblue);
    position: absolute;
    bottom: 3vw;
    padding-left: 1vw;
    border: 5px solid var(--lightblue);
    border-radius: 0px 30px 30px 0px;
    box-shadow: 40px 0px 50px white;
}

h3 {
    color: var(--dark);
    font-size: 2em;
    font-weight: 800;
    padding: 1vw 1vw 1vw 0vw;
}

h4 {
    color: var(--blue);
    font-size: 1em;
    font-weight: 800;
    padding-bottom: 1vh;
}

#refactor {
    width: 97%;
    margin-right: 1vw;
}

/* The rest of this portfolio section is to define the styles when clicking the anchors 
to the example works.
1. Box-shadow transition when hovering
2. Border and background change color when active */
.workexamples a {
    transition: box-shadow 0.15s ease-in-out;
}

.workexamples a:visited {
    border: 12px solid var(--lightblue);
    background-color: var(--lightblue);
}

.workexamples a:hover {
    box-shadow: 0px 0px 0px var(--dark), 0 0 50px var(--dark);
}

.workexamples a:active {
    border: 12px solid var(--teal);
    background-color: var(--teal);
}


/* Contact Section */
#contact {
    display: flex;
    align-items: center;
}

#contact ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

#contact ul li {
    font-size: 1.5em;
    font-weight: 800;
    color: var(--blue);
}

#contact ul li a:visited {
    color: var(--blue);
}

#contact ul li a:hover {
    color: var(--teal);
}

/* Footer Section */
footer {
    background-color: var(--dark);
}

footer p {
    width: fit-content;
    padding: 2vw 0;
    margin: 0 auto;
    font-size: 1.15em;
    font-weight: 800;
    color: white;
}

/* Media Queries */

/* Portfolio section responds first when screen width is 1350px or less
Examples works collapse into a column */
@media screen and (max-width: 1350px) {
    #portfolio {
        flex-direction: column;
        margin: 1vh 1vw 0vw 2vw;
    }

    #portfolio h2 {
        text-align: left;
        border-right: 0px;
        border-bottom: 5px solid var(--blue);
        min-width: 0px;
    }

    .workexamples a {
        width: 100%;
        margin: 3vh 0vw 0vw 0vw;
    }

    #refactor {
        width: 100%;
        margin-right: 0vw;
    }

    #doordie {
        margin-bottom: 2vh;
    }
}

/* About section and contact section respond second when screen width is 1075px or less
Content collapses into columns */
@media screen and (max-width: 1075px) {

    #about,
    #contact {
        flex-direction: column;
        margin: 1vh 2vw 0vw 2vw;
    }

    h2 {
        text-align: left;
        border-right: 0px;
        border-bottom: 5px solid var(--blue);
        min-width: 0px;
    }

    #about img,
    #abouttext,
    #context {
        margin: 1vh auto;
    }

    #abouttext {
        margin-bottom: 3vh;
    }

    #contact {
        align-items: normal;
    }

    #contact ul {
        flex-direction: column;
        align-items: center;
    }

    #contact ul li {
        margin: 2vh 0vh 2vh 0vh;
    }

}

/* Header and navigation bar respond last when the screen width is 675px or less
H1 and nav links collapse into columns */
@media screen and (max-width: 675px) {
    header {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li a:hover {
        color: var(--teal);
        position: relative;
        top: 0vh;
    }
}